@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@source '../node_modules/fumadocs-ui/dist/**/*.js';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  :root {
    --background: 0 0% 100% !important;
    --home-cards: 0 0% 96% !important;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    /* custom colors */
    --orange: 12, 76%, 61%;
    --blue: 221, 83%, 53%;
  }
  .dark {
    --background: 0, 0%, 8% !important;
    --home-cards: 0, 0%, 9% !important;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    /* custom colors */
    --orange: 12, 76%, 61%;
    --blue: 221, 83%, 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

pre,
code {
  font-size: 16px !important;
  line-height: 1.6rem !important;
}

/* react-tweet */

.tweet-container_article__gTBag {
  display: flex !important;
  flex-direction: column !important;
  justify-items: center !important;
  align-items: start !important;
  text-align: left !important;
  border-radius: 16px !important;
  border-radius: 16px !important;
  gap: 1rem !important;
  border: 1px solid hsl(var(--primary) / 10%) !important;
}

.quoted-tweet-container_root___TGKv {
  border: 1px solid hsl(var(--primary) / 10%) !important;
  background: hsl(var(--secondary) / 50%) !important;
  border-radius: 16px !important;
}

.tweet-media_image__j5PzO {
  border-radius: 8px !important;
}

.tweet-container_root__fgWUE {
  border-radius: 16px !important;
  background-color: var(--background) !important;
  border: 1px solid hsl(var(--primary) / 10%) !important;
  text-align: left !important;
  margin-bottom: 1rem !important;
  margin-top: 0 !important;
}

.tweet-header_header__5PnKS {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding-bottom: 0 !important;
  width: 100% !important;
}

.tweet-header_avatar__fAfnL {
  width: 40px !important;
  height: 40px !important;
}

.tweet-body_root__3nbbe {
  font-size: 15px !important;
}

.tweet-header_authorFollow__3VEyh {
  display: none !important;
}

.tweet-replies_replies__Z2aQ1 {
  display: none !important;
}

.tweet-info_infoLink__uGv8F {
  display: none !important;
}

.tweet-actions_actions__N_T9z {
  width: 100% !important;
}

@media screen and (max-width: 380px) {
  .tweet-actions_copyText__NyI5I {
    display: none !important;
  }
}