@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 158.00 5.00% 100.00%;
    --foreground: 240 10% 3.9%;
    --card: 158.00 5.00% 100.00%;
    --card-foreground: 240 10% 3.9%;
    --popover: 158.00 4.00% 100.00%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 158.00 78.03% 79.14%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 188.00 19.29% 92.69%;
    --secondary-foreground: 240 10% 3.9%;
    --accent: 128.00 23.91% 92.69%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 9.18 72.17% 49.22%;
    --destructive-foreground: 0 0% 98%;
    --muted: 158.00 5.00% 96%;
    --muted-foreground: 240 3.8% 46.1%;
    --border: 158 11.7% 90%;
    --input: 158 11.7% 90%;
    --ring: 158.00 78.03% 79.14%;
    --radius: 0.5rem;
    --fd-primary: 158.00 78.03% 79.14%;
  }

  .dark {
    --background: 158.00 15.61% 11.87%;
    --foreground: 0 0% 98%;
    --card: 158.00 15.61% 11.87%;
    --card-foreground: 0 0% 98%;
    --popover: 158.00 11.70% 9.50%;
    --popover-foreground: 0 0% 98%;
    --primary: 158.00 78.03% 47.21%;
    --primary-foreground: 0 0% 98%;
    --secondary: 188.00 85.50% 3.90%;
    --secondary-foreground: 0 0% 98%;
    --accent: 128.00 90.94% 3.90%;
    --accent-foreground: 0 0% 98%;
    --destructive: 9.18 72.17% 49.22%;
    --destructive-foreground: 0 0% 98%;
    --muted: 158.00 15.61% 15%;
    --muted-foreground: 0 0% 63.9%;
    --border: 158 11.7% 15.9%;
    --input: 158 11.7% 15.9%;
    --ring: 158.00 78.03% 47.21%;
    --fd-primary: 158.00 78.03% 79.14%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}